@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer base {
  :root {
    --background: 30 8% 95%;
    --foreground: 30 8% 5%;

    --card: 40 10% 94%;
    --card-foreground: 30 8% 5%;

    --popover: 40 10% 94%;
    --popover-foreground: 30 8% 5%;

    --primary: 35 100% 50%;
    --primary-foreground: 0 9% 2%;

    --secondary: 30 12% 91%;
    --secondary-foreground: 30 8% 5%;

    --muted: 30 8% 91%;
    --muted-foreground: 34 9% 45%;

    --accent: 30 8% 91%;
    --accent-foreground: 30 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 40 9% 87%;
    --input: 33 9% 80%;
    --ring: 36 36% 72%;

    --radius: 0.5rem;
  }
  
  .dark {
    --background: 40 7% 8%;
    --foreground: 60 9% 98%;

    --card: 40 6% 10%;
    --card-foreground: 60 9% 98%;

    --popover: 40 6% 10%;
    --popover-foreground: 60 9% 98%;

    --primary: 35 100% 50%;
    --primary-foreground: 0 9% 2%;

    --secondary: 37 8% 19%;
    --secondary-foreground: 60 9% 98%;

    --muted: 33 7% 29%;
    --muted-foreground: 36 8% 49%;

    --accent: 35 71% 19%;
    --accent-foreground: 60 9% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 36 8% 12%;
    --input: 38 9% 18%;
    --ring: 35 100% 40%;
  }
}


@layer base {
  * {
    @apply border-border;
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: theme('colors.border');
      border-radius: 9999px;
    }
  }
  body {
    @apply bg-background text-foreground;
  }
  /* Disable number input arrows */
  /* Chrome, Safari, Edge, Opera */
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Mozila */
  input[type='number'] {
    -moz-appearance: textfield !important;
  }

  /* Disable autofill decoration */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition:
    background-color 500000s ease-in-out 0s,
    color 500000s ease-in-out 0s;
  }
}